- if @news.errors.any?
  #error_explanation
    .alert.alert-danger
      =t('.the_form_contain')
      = pluralize(@news.errors.count, t('.error') )
      | . 
    ul
      - @news.errors.full_messages.each do |msg|
        li
          = msg
