<h1>Новости</h1>

<div class="container">
<% @news.each do |new| %>
  <div class="row">
    <div class="col-md-12 newsitem">
      <h1><%= link_to new.title, new %></h1>
      <p><%= new.content %></p>
    </div>
  </div>
<% end %>
</div>
