| Еженедельный дайджест =============================================== Вы подписаны на еженедельную рассылку новостей. Если вы больше не хотите болше получать дайджест вы можете сделать это в настройках своего профиля на сайте. 
- @news.each do |new|
  = new.title
  = url_for(new)
