<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Еженедельный дайджест</h1>
    <p>По какой-то причине https://3d17b7920b48403185e55844a2bae8b0.vfs.cloud9.us-east-2.amazonaws.com/rails/mailers/news_mailer/weeklydigest_email.html выводит вместо русского языка набор символов. С этой проблемой не успел разобраться.</p>
     <p>Вы подписаны на еженедельную рассылку новостей. Если вы больше не хотите болше получать дайджест вы можете сделать это в настройках своего профиля на сайте.</p>
  
  </body>
</html>