- provide(:title, t('.title'))
h1
  = t('.title')
.row
  .col-md-6.col-md-offset-3
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      = f.label t('.name')
      = f.text_field :name, autofocus: true, class: 'form-control'
      = f.label t('.password')
      - if @minimum_password_length
        em
          | (
          = t('.password_length_minimum_info', minimum_password_length: @minimum_password_length)
          |  )
      = f.password_field :password, autocomplete: "new-password", class: 'form-control'
      = f.label t('.confirm_password')
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
      = f.submit t('.register_button'), class: "btn btn-primary"
